#include "../../Flutter/Flutter-Release.xcconfig"
#include "Warnings.xcconfig"

SWIFT_OBJC_BRIDGING_HEADER = Runner/Runner-Bridging-Header.h
LIBRARY_SEARCH_PATHS = $(inherited) $(SRCROOT)/Runner/ghostty
HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/Runner
OTHER_LDFLAGS = $(inherited) -lghostty -lc++ -framework Metal -framework IOKit -framework CoreVideo -framework IOSurface -rpath @loader_path/../Frameworks
